body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  background: #fcd0d9;
}

p {
  margin-bottom: 1.2em;
}

a:hover {
  background-color: #0000EF;
  color: #FFF;
  text-decoration: none;
}

a img {
  border: 0;
}

input, textarea {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  padding: 3px;
  border: 1px solid #CCC;
}

input:focus, textarea:focus {
  border: 1px solid #000;
}

#message {
  background-color: #000080;
  color: #FFF;
  padding: 4px 10px 4px 30px;
  margin: 1em 0;
}

#logo {
  float: left;
}

#heading {
  margin: 0 0 36px 63px;
}

#heading h1 {
  padding-top: 11px;
}

#create-link {
  margin-bottom: 1.5em;
}

#to-toggle {
  width: 490px;
  border: 1px solid #000;
  background-color: #B0C4DE;
  padding: 4px 10px 4px 10px;
}

.article-list-item, #article-content {
  background-color: #EEE;
  padding: 1px 0 1px 20px;
  margin-bottom: 2em;
}
